<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
</head>

<body>
  <p>Meu primeiro app Angular!!</p>
  <ola-angular></ola-angular>
  <app-ola-angular-cli></app-ola-angular-cli>

  <div class="container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Framework</th>
          <th>Aplicação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Angular</td>
          <td>Front-End</td>
        </tr>
        <tr>
          <td>Spring MVC</td>
          <td>Back-end</td>
        </tr>
        <tr>
          <td>React</td>
          <td>Front-End</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>